.i-menu {
  width: 100%;
  .i-menu-group {
    .i-menu-group-title {
      display: flex;
      vertical-align: middle;
      justify-content: space-between;
      padding: 0 10px;
      background-color: #ddd;
      line-height: 40px;
      cursor: pointer;
      p {
        i {
          margin-right: 5px;
        }
      }
    }
    .i-menu-item {
      padding-left: 31px;
      line-height: 30px;
      transition: all 0.2s;
      li {
        &:hover {
          color: red;
        }
      }
    }
  }
}
.vertical {
  font-size: 16px;
  // display: flex;
  width: 250px;
}
.horizontal {
  display: flex;
}
